*{
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #353535;
    text-align: center;
}
.container{
    width: 90%;
    max-width: 800px;
    margin: 20px alto;
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #d6d5d5;
    border-radius: 5px;
}
h1{
    font-size: 24px;
    color: #02376c;
}
.acessos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
caixa-acesso {
    width: 100%;
    max-width: 45%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}
h2 {
    font-size: 18px;
    color: #333;
}
p {
    font-size: 14px;
    text-align: left;
    margin: 10px 0;
}
