
    body {
        font-family: Arial, sans-serif;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 700px;
    }
    .container {
        width: 500px;
        background-color: #ffffff;
        box-shadow: 0 3px 5px #000000;
        border-radius: 10px;
        padding: 60px;
        text-align: left;
    }
    h1 {
        color: #008cd5;
        font-size: 20px;
        background-color: black;
        padding: 10px;
    }
    .acessos {
        display: flex;
    }
    .caixa-acesso {
        padding: 10px;
        border: 1px solid #ddd;
        background-color: #ffffff;
        border-radius: 10px;
    }
    .caixa-acesso h2 {
        font-size: 16px;
        color: #000000;
    }
    .caixa-acesso p {
        font-size: 14px;
        margin: 10px ;
        color: #3a3a3a;
    }
    .campo-texto {
        width: 100%;
        height: 20px;
        padding: 5px;
        border: 1px solid #a26f6f;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    a {
        font-size: 15px;
        color: #007bff;
    
    }
    .botao-admin  {
        width: 50%;
        padding: 10px;
        font-size: 14px;
        border: 0;
        border-radius: 4px;
    }
    .botao-estudante{
        width: 100px;
        
    }
    .botao-admin {
        background-color: #1a73e8;
        color: #fff;
    }
    botao-gov {
        background-color: #fff;
        color: #1a73e8;
        border: 1px solid #1a73e8;
    }
    .botao-estudante {
        background-color: #28a745;
        color: white;
    }
    .botao-requisitos {
        background-color: #17a2b8;
        color: white;
    }
    .botao-requisitos {
        background-color: #17a2b8;
        color: white;
    }